{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
        <h2>Accès interdit</h2>

        <h5>Vous n'avez pas le droit d'accèder à cette page .</h5>
    </section>

{% endblock %}