{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
        <h2>Page non trouvée</h2>

        <h5>La page à laquelle vous tentez d'accéder n'existe pas.</h5>
    </section>

{% endblock %}