{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block main %}

<p>Bienvenue sur le site microblogging !</p>
<p>Pensez à vous connecter pour accéder aux fonctionalités du site.</p>

{% endblock %}