<nav aria-label="Page navigation example">
        <ul class="pagination">
            {%if pagination.get_page_count() >= 2 %}
                {% if pagination.get_page() > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{pagination.get_page() -1}}">Précédent</a></li>
                {% endif %}
                {% for page in range(1,pagination.get_page_count()+1) %}

                    {% if pagination.get_page() == page %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{page}}">{{page}}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/posts?page={{page}}">{{page}}
                            </a>
                        </li>
                    {% endif %} 
                {% endfor %}    
                {% if pagination.get_page() < pagination.get_page_count() %}
                    <li class="page-item"><a class="page-link" href="?page={{pagination.get_page() +1}}">Suivant</a></li>
                {% endif %}     
            {% endif %}     
        </ul>
      </nav>