{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
        <h2>Edition du poste</h2>

        <form method="POST">
                <div class="form-group">{{ form.title.label }}: {{ form.title(class="form-control") }}</div>
                <div class="form-group">{{ form.body.label }}: {{ form.body(class="form-control") }}</div>
                <div class="form-group">{% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {{ form.hidden_tag() }}</div>
                <div class="form-group"><button type="submit" class="btn btn-primary">Enregistrer</button></div>
                <a type="button" class="btn btn-primary" href="/posts/{{id}}/delete">Supprimer</a>
        </form>
    </section>

{% endblock %}