{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block main %}

    <a type="button" class="btn btn-primary" href="/posts">Retour</a>

    <section>
            <hr/>   
            <h3>{{ post.title }}</h3> 
            <small>by {{ post.user.user_name }} on {{ post.created_at.strftime('%Y-%m-%d') }}</small>
            <p>{{ post.body }}</p>

        
    </section>

{% endblock %}

