{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block main %}

    {% if current_user.id is defined %}
        <a type="button" class="btn btn-primary mt-3" href="/posts/new">Ajouter un post</a>
    {% endif %}    
    <section>
        {% for post in pagination.get_object_list() %}
            <hr/>   
            <h3>{{ post.title }}</h3> 
            <small>by <a href="/users/{{post.user.id}}/posts"> {{ post.user.user_name }} </a> on {{ post.created_at.strftime('%Y-%m-%d') }}</small>
            <p>{{ post.body }}</p>
            <p><a href="/posts/{{post.id}}/view">Voir</a> 
                {% if post.user.id == current_user.id %}
                |  <a href="/posts/{{post.id}}/edit">Edit</a>
                {% endif %}
            </p>
            <p></p>
        {% endfor %}

        {% include "pagination.html"  %}
        
    </section>

{% endblock %}

