{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
        <h2>Edition de l'utilisateur</h2>

        <form method="POST">
                <div class="form-group">{{ form.user_name.label }}: {{ form.user_name(class="form-control") }}</div>
                <div class="form-group">{{ form.first_name.label }}: {{ form.first_name(class="form-control") }}</div>
                <div class="form-group">{{ form.last_name.label }}: {{ form.last_name(class="form-control") }}</div>
                <div class="form-group">{{ form.email.label }}: {{ form.email(class="form-control") }}</div>
                <div class="form-group">{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
                <div class="form-group">{{ form.created_at.label }}: {{ form.created_at(class="form-control") }}</div>
                <div class="form-group">{% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.hidden_tag() }}</div>
                <div class="form-group"><button type="submit" class="btn btn-primary">Enregistrer</button></div>
                <a type="button" class="btn btn-primary" href="/users/{{id}}/delete">Supprimer</a>
                    
        </form>
    </section>

{% endblock %}