{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
        {% for user in pagination.get_object_list() %}
            <h4>{{ user.user_name }}</h4>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <p><a href="/users/{{user.id}}/view">Voir</a> 
                {% if user.id == current_user.id %}
                | <a href="/users/{{user.id}}/edit">Edit</a>
                {% endif %}
            </p>

            <hr/>
        {% endfor %}
        {% include "pagination.html"  %}
    </section>

{% endblock %}