{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block main %}

    <section>
            <h4>{{ user.user_name }}</h4>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <hr/>
    </section>

{% endblock %}